
  .btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: green;
    border:5px solid green;
  }
 
@media(max-width:767px){
.btn
{
width: 100%;
}
}
@media (min-width:768px) and (max-width:1024px){
  .btn
  {
width: 200px;
height: 200px;
background-color: white;
color: green;
border: 5px solid green;
border-radius: none;
font-size: 16px;
text-align: center;
line-height: 0px;
margin:  auto;
}
}
@media ( min-width: 1024px){
  .btn
{
  width: 200px;
  height: 200px;
  padding: 40px;
  background-color: white;
  color: green;
  border: 5px solid green;
  border-radius: 100%;
  font-size: 16px;
  text-align: center;
  margin: 0 0 10px 10px;
}
}